<div class="card">

    <div class="card-header">
        <h4>Tipos de Platos</h4>
        <app-agregar-tipo-plato (AgregarTipoPlato)="agregarTipoPlato($event)"></app-agregar-tipo-plato>
    </div>
    <div class="card-header">
        <input type="text" class="inp" placeholder="buscar..." [(ngModel)]="terminos" (keyup.enter)="buscarTermino()" />
        <i class="inside fas fa-search-plus" (click)="buscarTermino()"></i>
    </div>


    <ul class="list-group list-group-flush animated fadeIn">
        <li class="list-group-item" *ngFor="let item of tiposPlato" (click)="buscarPlatos(item)">
            <h6 class="nombreTipoPlato">{{item.nombre}}</h6>
        </li>
    </ul>
</div>