<i class="fas fa-money-check-alt" (click)="openVerticallyCentered(content)"></i>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Pedido </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
    </div>
    <div class="modal-body">

        <app-listar-pedido *ngIf="!pedidoFinalizado" [platosPedido]="platosPedido" [total]="total" (ObtenerTotal)="obtenerTotal($event)"></app-listar-pedido>
    </div>
    <div class="modal-footer">
        <button [disabled]="guardando" type="button" class="btn btn-light" id="cerrarModal" (click)="c('Close click')">Cerrar</button>
        <button [disabled]="guardando || pedidoFinalizado" type="button" class="btn btn-primary" (click)="finalizarPedido()">Guardar  <i  *ngIf="guardando" class="fas fa-cog fa-spin"></i></button>

    </div>
</ng-template>