<i class="fas fa-shopping-cart" (click)="openVerticallyCentered(content)"></i>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Pedido {{mesa.nombre}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body" *ngIf="!pedidoGuardado">
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="inp" placeholder="buscar..." [(ngModel)]="terminosTipoPlato" (keyup.enter)="buscarTerminoTipoPlato()" />
                <i class="inside fas fa-search-plus" (click)="buscarTerminoTipoPlato()"></i>
                <ul class="list-group list-group-flush animated fadeIn">

                    <li class="list-group-item" *ngFor="let item of tiposPlato" (click)="seleccionarTipoPlato(item)">
                        <h6>{{item.nombre}}</h6>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <app-listar-platos *ngIf="tipoPlato._id" [tipoPlato]="tipoPlato" (AgregarPlato)="agregarPlato($event)"></app-listar-platos>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-listar-pedido [platosPedido]="platosPedido" *ngIf="platosPedido.length>0" [total]="total"></app-listar-pedido>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button [disabled]="guardando" type="button" class="btn btn-light" id="cerrarModal" (click)="c('Close click')">Cerrar</button>
        <button [disabled]="guardando || pedidoGuardado" type="button" class="btn btn-primary" (click)="guardarPedido()">Guardar  <i *ngIf="guardando" class="fas fa-cog fa-spin"></i></button>

    </div>
</ng-template>