<i class="fas fa-edit" (click)="openVerticallyCentered(content)"></i>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Restaurant</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nombre" name="nombre">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Direccion" [(ngModel)]="direccion" name="direccion">

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <label class="container">Activo
                                <input type="checkbox"  [(ngModel)]="estado">
                                <span class="checkmark"></span>
                              </label>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button [disabled]="editando" type="button" class="btn btn-light" (click)="c('Close click')">Cerrar</button>
        <button [disabled]="editando || !validarEditar()" type="button" class="btn btn-primary" (click)="guardarCamios()">Guardar  <i *ngIf="editando"  class="fas fa-cog fa-spin"></i></button>

    </div>
</ng-template>