<div class="contenedor">
    <div class="row">
        <div class=" col col-md-6">
            <app-mantenedor-tipos-plato (ObtenerTipoPlato)="obtenerTipoPlato($event)"></app-mantenedor-tipos-plato>
        </div>
        <div class="col col-md-6">
            <app-mantenedor-mesas></app-mantenedor-mesas>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <app-mantenedor-platos [tipoPlato]="tipoPlato" *ngIf="tipoPlato._id"></app-mantenedor-platos>
        </div>
    </div>
</div>