<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="form-check">
                <input type="checkbox" id="test1" [(ngModel)]="mostrarInactivos" (click)="mostrarRestaurantFiltro()" />
                <label for="test1">Mostrar inactivos</label>
            </div>
        </div>
    </div>
    <div class="input-group">
        <app-agregar-restaurant (AgregarRestaurant)="agregarRestaurant($event)"></app-agregar-restaurant>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Gestionar</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr class="animated fadeIn" *ngFor="let item of restaurants||async">
                <td>{{item.nombre}}</td>
                <td>{{item.direccion}}</td>
                <td><i class="fas fa-search" (click)="redirigir(item)"></i></td>
                <th>
                    <app-editar-restaurant [restaurant]="item" (EditarRestaurant)="editarRestaurant($event)"></app-editar-restaurant>
                </th>
            </tr>
        </tbody>
    </table>
</div>