<i class="fas fa-plus-circle" (click)="openVerticallyCentered(content)"></i>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Restaurant</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Direccion">

                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar  <i  class="fas fa-cog fa-spin"></i></button>

    </div>
</ng-template>