<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" *ngIf="!autorizador.Logueado">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Inicar sesion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Registrate</a>
  </li>

</ul>

<!-- Tab panes -->
<div class="tab-content" *ngIf="!autorizador.Logueado">
  <div class="tab-pane active" id="home" role="tabpanel"><app-login></app-login></div>
  <div class="tab-pane" id="profile" role="tabpanel"><app-registro-usuario></app-registro-usuario></div>
  
</div>