.footer {
    min-height: 70px;
    background-color: #191919;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#191919', endColorStr='#000000');
    border-top: 1px solid rgba(50, 50, 50, 0.3);
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    text-align: center;
}